<?xml version="1.0" encoding="UTF-8"?>
<!--MyBatis映射文件-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypf.feijibookserver.dao.UserMapper">
    <!--注册该账户-->
    <insert id="register">
        insert into user_info (account, password)
        values (#{account},
                #{password})
    </insert>

    <!--设置该用户的类型编辑设置-->
    <insert id="setTypeSetting">
        insert into record_type (account,
        ooa,
        ioe,
        detail_type,
        icon_url,
        custom_type_name,
        doc)
        values
        <foreach collection="list" item="item" separator=",">
            (#{account},
            #{item.ooa},
            #{item.ioe},
            #{item.detail_type},
            #{item.icon_url},
            #{item.custom_type_name},
            #{item.doc})
        </foreach>

    </insert>

    <!--添加记录-->
    <insert id="addRecord" parameterType="com.ypf.feijibookserver.entity.DetailRecordBean">
        insert into detail_record(id,
                                  account,
                                  year,
                                  month,
                                  day,
                                  week,
                                  woy,
                                  ioe,
                                  icon_url,
                                  detail_type,
                                  money,
                                  remark,
                                  record_order)

        values (#{id},
                #{account},
                #{year},
                #{month},
                #{day},
                #{week},
                #{woy},
                #{ioe},
                #{icon_url},
                #{detail_type},
                #{money},
                #{remark},
                #{record_order})
    </insert>

    <!--删除用户的单条记录-->
    <delete id="deleteRecord">
        delete
        from
            detail_record
        where detail_record.id = #{id}
          and detail_record.account = #{account}
    </delete>

    <delete id="deleteTypeSetting" parameterType="String">
        delete
        from
            record_type
        where record_type.account = #{value}
    </delete>

    <!--查找该账户名，返回该账户的用于信息-->
    <select id="findAccount" parameterType="String" resultType="com.ypf.feijibookserver.entity.UserInfoBean">
        select *
        from user_info
        where user_info.account
            =
              #{value}
    </select>


    <!--设置该账户的头像路径-->
    <update id="setPortrait">
        update user_info
        set user_info.portrait = #{portrait}
        where user_info.account = #{account}
    </update>

    <!--更改该用户的密码-->
    <update id="setPassword">
        update user_info
        set user_info.password = #{password}
        where user_info.account = #{account}
    </update>

    <!--设置该账户昵称-->
    <update id="setNickname">
        update user_info
        set user_info.nickname = #{nickname }
        where user_info.account = #{account}
    </update>

    <!--设置该账户的性别-->
    <update id="setSex">
        update user_info
        set user_info.sex = #{sex}
        where user_info.account = #{account}
    </update>

    <!--设置该用户的照片及上传情况-->
    <update id="setImgUrl">
        <foreach collection="photos" item="item" index="index" open="" close="" separator=";">
            update detail_record
            <set>
                img_url = #{item.img_url},
                is_img_upload = true
            </set>
            where account = #{account}
            and id = #{item.id}
        </foreach>
    </update>

    <!--设置改用的视频及上传情况-->
    <update id="setVideoUrl">
        <foreach collection="videos" item="item" index="index" open="" close="" separator=";">
            update detail_record
            <set>
                video_url = #{item.video_url},
                is_video_upload = true
            </set>
            where account = #{account}
            and id = #{item.id}
        </foreach>
    </update>
</mapper>