<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描所有的控制器-->
    <context:component-scan base-package="com.ypf.feijibookserver.controller"/>

    <!-- 使用注解来进行请求映射 -->
    <!-- 注：使@Controller注解生效 -->
    <mvc:annotation-driven/>

    <!--由于我的前端控制器配置的是拦截所有请求，所以要在在springmvc.xml中放行静态资源-->
    <!--<mvc:resources mapping="/download/" location="/download/**"/>-->

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 重定向时是否添加上下文路径-->
        <property name="redirectContextRelative" value="true"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>